<div *ngIf="bookDetails" class="content-height">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxFlexAlign="stretch"
    fxLayoutAlign="center"
    class="content-margin"
  >
    <div class="content">
      <div
        fxFlex="100%"
        fxLayout="row wrap"
        fxLayoutGap="16px grid"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
      >
        <mat-card class="card-size">
          <mat-card-header>
            <mat-card-title>{{ bookDetails.volumeInfo.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="display" fxLayout="row">
              <div
                *ngIf="
                  bookDetails.volumeInfo.imageLinks &&
                  bookDetails.volumeInfo.imageLinks.smallThumbnail
                "
              >
                <img
                  src="{{ bookDetails.volumeInfo.imageLinks.smallThumbnail }}"
                  width="130px"
                  height="170px"
                />
              </div>
            </div>
            <p>
              <strong>Publisher:</strong> {{ bookDetails.volumeInfo.publisher }}
            </p>
            <p>
              <strong>Language:</strong> {{ bookDetails.volumeInfo.language }}
            </p>
            <p>{{ bookDetails.volumeInfo.description }}</p>
            <strong>Written By:</strong>
            <div>
              {{
                bookDetails.volumeInfo?.authors &&
                bookDetails.volumeInfo.authors.length > 1
                  ? (bookDetails.volumeInfo.authors | Joining)
                  : bookDetails.volumeInfo.authors
              }}
            </div>
            <br />
            <button
              class="button-margin"
              mat-flat-button
              color="warn"
              (click)="navigateToCart(bookDetails.id)"
            >
              ADD TO CART
            </button>
            <button
              class="button-margin"
              mat-flat-button
              color="warn"
              (click)="navigateToBillingDetails(bookDetails.id)"
            >
              BUY
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
